<h4>NavBar design by <a href="https://github.com/originalblend337">originalblend337</a></h4>

<div class="wrap">
  <h2 class="home-greet"><%= link_to "Let's Play!", rooms_path %></h2>
  <figure class="gallery-icon">
    <%= link_to image_tag("ic_music.png", class: "home-img"), rooms_path %>
  </figure>
</div>