<h2>**Group together and improv! **</h2>
<h4>design by <a href="https://github.com/originalblend337">originalblend337</a></h4>

<div class="wrap">
  <%= link_to image_tag("ic_music.png"), rooms_path %>
</div>