<h2>Create Music Room</h2>
<%= render "form" %>

<h2>Search Music Room</h2>
<%= render "search" %>

<hr noshade>

<h2>Music Rooms Contributed To</h2>
<ul id="contributed-rooms">
  <% @rooms.each do |room| %>
    <li><%= link_to "#{room.name}", "/rooms/#{room.id}" %></li>
  <% end %>
</ul>
