<h1>Let's Play!</h1>

<h3>Create Music Room</h3>
<%= render "form" %>

<h3>Search Music Room</h3>
<%= render "search" %>

<h3>Music Rooms Contributed To</h3>
<ul id="contributed-rooms">
  <% @rooms.each do |room| %>
    <li><%= link_to "#{room.name}", "/rooms/#{room.id}" %></li>
  <% end %>
</ul>
