<h1><%= @room.name %></h1>

<h3>Select Your Instrument</h3>
<input type="radio" id="piano" onclick="instrument('piano')">Piano
<input type="radio" id="beats" onclick="instrument('beats')">Beats


<div id="keyboard"></div>
<div id="sounds"></div>





