<h1><%= @room.name %></h1>

<h3>Select Your Instrument</h3>
<select name="instrument" id="instrument-list">
  <option value="keyboard">Keyboard</option>
  <option value="drums">Drums</option>
  <option value="hip-hop-beats">Hip-Hop Beats</option>
</select>

<ul id="sounds"></ul>

<%= javascript_tag do %>
  //instrument("keyboard");
  tester();
<% end %>

