<!DOCTYPE html>
<html>
<head>
  <title>CollaboMusicApp</title>
  <link rel="icon" type="image/png" href="http://www.mikewaltonproductions.com/newsite/wp-content/uploads/2011/06/Music-Note.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
